<f:if condition="{backendtitle}">
    <h3>{backendtitle}</h3>
</f:if>

<f:if condition="{tx_tt3poi_element}">
    <strong><f:translate key="LLL:EXT:tt3_poi/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3poi_element" />:</strong>
    <table class="table table-condensed table-triped">
        <thead>
        <tr>
            <th>#</th>
            <th>Label</th>
            <th>SVG Object ID</th>
            <th>Content</th>
            <th>show on first</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{tx_tt3poi_element}" as="item" iteration="i">
            <tr class="{f:if(condition: '{item.hidden}', then: 'opacity-25')}">
                <td>{i.cycle}</td>
                <td>{item.element_label}</td>
                <td>{item.element_svgid}</td>
                <td>
                    <f:if condition="{item.element_link}">
                        <f:then>Link</f:then>
                        <f:else>
                            <f:if condition="{item.element_content}">
                                <f:then>Content</f:then>
                                <f:else>none</f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </td>
                <td>
                    <f:if condition="{item.element_showonfirst}">
                        <f:then>X</f:then>
                    </f:if>
                </td>
                <td>{f:if(condition: '{item.hidden}', then: 'hidden')}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>