body {
  --color-tt3_poi_demo_color_default: #009982;
  --color-tt3_poi_demo_color_hover: #95c11f;
  --color-tt3_poi_demo_color_active: #dedc00;
}

.tx-tt3-poi {
  overflow: hidden;
}
/***********
  SVG Graphic
  ************/
.tx-tt3-poi .poigraphic-container svg {
  width: 100%;
  height: auto;
}

.tx-tt3-poi .poigraphic-container svg path {
  opacity: 1.00;
}

.tx-tt3-poi .poigraphic-container svg .poi {
  fill: var(--color-tt3_poi_demo_color_default);
  stroke: black;
  opacity: 0.40;
  pointer-events: none;
}

.tx-tt3-poi .poigraphic-container svg .poi.inUse {
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.75;
}

.tx-tt3-poi .poigraphic-container svg .poi:hover {
  fill: var(--color-tt3_poi_demo_color_hover);
  opacity: 0.85;
}

.tx-tt3-poi .poigraphic-container svg .poi.active {
  fill: var(--color-tt3_poi_demo_color_active);
  opacity: 1.0;
}

/***********
Select
************/
.tx-tt3-poi .poi--select {
  width: 100%;
}

/***********
POI Element
************/
.tx-tt3-poi .poi--element {
  display: none;
}

/***********
POI Label
************/
.tx-tt3-poi a.poi--label {
  cursor: pointer;
}