<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:tt3Image="http://typo3.org/ns/Teufels/Tt3Image/ViewHelpers" data-namespace-typo3-fluid="true">
    <div id="c{data.uid}" data-scroll-to-result="true" class="tx-tt3-poi
            {f:if(condition: data.layout, then: 'frame-layout-{data.layout}')}
            {f:if(condition: data.frame_class, then: 'frame-{data.frame_class}')}
            {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
            {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')} ">

        <div class="tt3_poi-wrapper {data.tx_tt3poi_customcssclasses}">
            <div class="container">
                <div class="row">
                    <f:if condition="{data_tx_tt3poi_graphic}">
                        <div id="poi-{data.uid}-graphic" class="poigraphic-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-10">
                            <f:for each="{data_tx_tt3poi_graphic}" as="file">
                                <f:format.raw>
                                    <tt3Image:inlineSvg filePath="{file.originalFile.publicUrl}" removeStyleAttributes="{data.tx_tt3poi_removesvgstyleattributes}" />
                                </f:format.raw>
                            </f:for>
                        </div>
                    </f:if>

                    <f:if condition="{data_tx_tt3poi_element}">
                        <div class="poielement-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-2">
                            <a id="poi-{data.uid}-results" name="poi-{data.uid}-results" aria-hidden="true" class="poi-results-anchortarget"></a>

                            <div class="poi--select--container">
                                <select id="poi-{data.uid}-select" class="poi--select" name="poi-select" data-enpassusermodified="yes">
                                    <option>{f:translate(key: 'LLL:EXT:tt3_poi/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3poi_element.pleaseselect')}</option>
                                    <f:for each="{data_tx_tt3poi_element}" as="poi">
                                        <option value="{poi.data.element_svgid}" data-showonfirst="{poi.data.element_showonfirst}" data-parent="{data.uid}">{poi.data.element_label}</option>
                                    </f:for>
                                </select>
                            </div>

                            <div class="poi--element--container">
                                <f:for each="{data_tx_tt3poi_element}" as="data_item" iteration="i">
                                    <div id="poi-{data.uid}-element-{i.cycle}" class="poi--element {data_item.data.element_customcssclasses} {f:if(condition:'{data_item.data.element_showonfirst}',then:'active')}" data-parent="{data.uid}" data-poielement-svgid="{data_item.data.element_svgid}" data-poielement-label=" {data_item.data.element_label}" data-poielement-link="{data_item.data.element_link}" data-poielement-link-uri="{f:uri.typolink(parameter: data_item.data.element_link)}" data-poielement-showonfirst="{data_item.data.element_showonfirst}">
                                        <f:if condition="{data_item.data_element_content}">
                                            <button type="button" class="btn-close" aria-label="Close"></button>
                                            <div class="poielement--content">
                                                <f:for each="{data_item.data_element_content}" as="content_item">
                                                    <f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" table="tt_content" />
                                                </f:for>
                                            </div>
                                        </f:if>
                                    </div>
                                </f:for>
                            </div>

                            <div class="poi--label--container">
                                <f:for each="{data_tx_tt3poi_element}" as="data_item" iteration="i">
                                    <a id="poi-{data.uid}-label-{i.cycle}" class="poi--label {f:if(condition:'{data_item.data.element_showonfirst}',then:'active')}" data-parent="{data.uid}" data-poielement-svgid="{data_item.data.element_svgid}" data-poielement-label=" {data_item.data.element_label}" data-poielement-link="{data_item.data.element_link}" data-poielement-link-uri="{f:uri.typolink(parameter: data_item.data.element_link)}" data-poielement-showonfirst="{data_item.data.element_showonfirst}">
                                        <f:if condition="{data_item.data.element_label}">
                                            {data_item.data.element_label}
                                        </f:if>
                                    </a>
                                </f:for>
                            </div>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</html>
